
mixin file_type(type, name, category, description)
	div(class='allow-file-type-'+ type)
		div(class='file-type file-type-'+ type + ' file-category-' + category category=category file-type=type)
			.icon(icon=type)
			.detail
				.name= name

mixin selected_file_type(type, name, category, description)
	div(class='file-selection file-type-'+ type)
		.cancel(icon='close')

		.icon(icon=type)
		.detail
			.name= name
			.description= description

mixin category_type(category, name)
	div(class='category category-'+ category, category=category)= name

.file-type-selector
	
	//- //- data types
	//- .categories
	//- 	+category_type('all', 'All')
	//- 	+category_type('code', 'Code')
	//- 	+category_type('markup', 'Markup')
	//- 	+category_type('style', 'Style')
	//- 	+category_type('data', 'Data')

	//- file types
	.file-types
		+file_type('css', 'CSS', 'style')
		//- +file_type('coffee', 'CoffeeScript', 'code')
		+file_type('html', 'HTML', 'markup')
		+file_type('js', 'JavaScript', 'code')
		//- +file_type('md', 'Markdown', 'markup')
		//- +file_type('pug', 'Pug', 'markup')
		//- +file_type('scss', 'SCSS', 'style')
		//- +file_type('ts', 'TypeScript', 'code')
		+file_type('txt', 'Text', 'data')
		+file_type('xml', 'XML', 'data')

//- displaying the selected type
.selected-file-type
	+selected_file_type('css', 'CSS', 'Style', 'Creates a new CSS style file')
	//- +selected_file_type('coffee', 'CoffeeScript', 'Code', 'Creates a new CoffeeScript code file')
	+selected_file_type('html', 'HTML', 'Markup', 'Creates a new HTML markup file')
	+selected_file_type('js', 'JavaScript', 'Code', 'Creates a new JavaScript code file')
	//- +selected_file_type('md', 'Markdown', 'Markup', 'Creates a new Markdown markup file')
	//- +selected_file_type('pug', 'Pug', 'Markup', 'Creates a new Pug markup file')
	//- +selected_file_type('scss', 'SCSS', 'Style', 'Creates a new SCSS style file')
	//- +selected_file_type('ts', 'TypeScript', 'Code', 'Creates a new TypeScript code file')
	+selected_file_type('txt', 'Text', 'Data', 'Creates a new Text data file')
	+selected_file_type('xml', 'XML', 'Data', 'Creates a new XML data file')