doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title= project.name

		meta(name='application-name' content=project.name)
		meta(name='apple-mobile-web-app-title' content=project.name)

		//- web app behavior
		link(rel='manifest' href='/__codelab__/'+ project.id + '/manifest.json')
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
		meta(name='mobile-web-app-capable' content='yes')
		meta(name='theme-color' content='4A90E2')
		meta(name='format-detection' content='telephone=no')

		//- app icons
		link(rel='icon' sizes='128x128' href='/__codelab__/projects/code-icon-128.png')
		link(rel='icon' sizes='192x192' href='/__codelab__/projects/code-icon-192.png')
		link(rel='apple-touch-icon-precomposed' sizes='57x57' href='/__codelab__/projects/code-icon-57.png')
		link(rel='apple-touch-icon-precomposed' sizes='72x72' href='/__codelab__/projects/code-icon-72.png')
		link(rel='apple-touch-icon-precomposed' sizes='114x114' href='/__codelab__/projects/code-icon-114.png')
		link(rel='apple-touch-icon-precomposed' sizes='144x144' href='/__codelab__/projects/code-icon-144.png')

		link(rel='stylesheet' type='text/css' href='/__codelab__/code.css')
	body

		include ./mobile-install

		#intro
			#avatar(avatar=user.avatar)
			.title= project.name
			.description= project.description || 'No program description provided'
			.created-by Created By #[strong= user.first]
			.logo

			.actions
				.action.run Run Program
		
		#program
			.header
				.logo
				.about= project.name
				.action.run Run Program

			.exception
				h1 Code Exception
				p Looks like there was an error while running that code!
				#error TypeError: Unable to find the function called Console.log

			pre#output
			#command
				#question Please enter your name
				#input(contenteditable="true" spellcheck="false" aria-autocomplete="none")


		script(type='text/javascript' src='/__codelab__/code.js')
		script(type='text/javascript').
			window.__CODE__ = !{JSON.stringify(code)};

		//- live reload access
		if !production
			script(type='text/javascript' src='http://localhost:35729/livereload.js?snipver=1')