extends _template

mixin enroll_link
	a.primary(href='/enroll') Enroll for Class

mixin contact_link(type)
	a(href='https://goo.gl/forms/75vK0KcmIDAO2cBV2' class=`${type || 'secondary'}`) Contact Us


mixin location
	section#location
		#map
		.container
			.details
				//- h2 CodeLab
				address
					| 275 S. Denton Tap Rd.
					br
					| Coppell, TX 75019
				h3 (972) 861-0189

				.actions
					+contact_link

block title
	| CodeLab - Real Programming for Teens and Adults

block head
	link(rel='stylesheet' type='text/css' href='/__codelab__/site/index.css')
	meta(name='description' content='Computer programming for teens and adults to learn modern programming (ages 12+)')
	meta(name='robots' content='index, follow')

block content

	#error(style='display: none;')
		strong Login error:
		#reason Unable to log into CodeLab

	section#hero
		.container
			#header
				a.logo(href='/') CodeLab
				.nav
					//- a(href='#schedule') Schedule
					//- a(href='#instructor') Instructor
					.phone (972) 861-0189
					+enroll_link

			#intro
				.details
					h1 Coding Classes #[.line in Coppell, Texas]
					h3 For Teens and Adults
					p Start learning how to build websites, create apps and games using modern programming languages. #[em No prior experience is required.]
					
					.actions
						+enroll_link
						+contact_link

	+location

	section#benefits
		.container
			.details
				h2 Learn Skills That #[.line Prepare For The Future]
				p Did you know that #[strong computer programming jobs will grow by 26% in the next 10 years]. Even many non-programming jobs are beginning integrate more computers into their workflows that require an understanding of computer logic - #[em a skill best learned by programming!]
				//- p Get a head start learning modern programming tools and techniques to get a head start on the skills of tomorrow!
				.actions
					+enroll_link
					+contact_link

	section#importance
		.container
			.details
				h2 The Next Step Beyond #[.line Toys and Online Tutorials]
				p Toys and online tutorials are a great way to get an introduction to programming! #[strong CodeLab] helps you start taking the next steps to develop your skills and start seeing real results!
				
				.actions
					a(href='/enroll') Enroll for Class
					a(href='#contact') Contact Us

	section#instructor
		.container
			.details
				h2 Learn Programming Languages That You Can Use
				p Start learning some of the #[a(href='https://insights.stackoverflow.com/survey/2019#most-popular-technologies') most popular and flexible programming languages] in the world so you can begin building real apps, websites, and more!
				.actions
					+enroll_link
					+contact_link
	
	section#graphic
		.container
			.details
				h2 Interested in #[.line Graphic Design?]
				p We also teach graphic design and illustration using modern programs such as Photoshop, Sketch, InVision Studio and more!

				.examples
					.example
						img(src='/__codelab__/site/images/example-2.jpg')
						div Illustration

					.example
						img(src='/__codelab__/site/images/example-1.jpg')
						div Logo Design

					.example
						img(src='/__codelab__/site/images/example-3.jpg')
						div Graphic Design

					.example
						img(src='/__codelab__/site/images/example-4.jpg')
						div Typography

				.actions
					+contact_link('alt')

	//- #footer.section

	include _footer



//- 	#error(style='display: none;') 
//- 		strong Login error:
//- 		#reason Unable to log into CodeLab

//- 	#demo-overlay(style='display: none')

//- 	.main.content

//- 		.header
//- 			.container

//- 				.row.bar
//- 					//- a#login-button(href='/signup') Enroll Now
//- 					a.logo(href='/') CodeLab
//- 					.call
//- 						.icon.phone-icon
//- 						.number !{content.phone_number}

//- 				.row.intro
//- 					h1 Learn Real Computer Programming for Kids and Teens
//- 					.learn-to Learn To...
//- 					.feature
//- 						#feature-display Write Real Code
//- 						| &nbsp;
//- 					.details !{content.header_introduction}
//- 					.actions
//- 						//- a.button.how-it-works(href='#about' onclick="playDemo()") Our Mission
//- 						a.button.view-schedule(href='#schedule') Schedule &amp; Pricing
//- 						a.button.how-it-works(href='https://docs.google.com/forms/d/e/1FAIpQLSfsEnaJ3sbBiAcoTB5JiCXbVioHrpYCmY1ggfVfL1yKI8wI3A/viewform') Request a Trial Class
//- 						a.button.try-demo(href='/signup') Enroll for Class
//- 						//- a.button.try-demo(href='#showcase') Student Showcase

//- 		+starting_soon(content)

//- 		+section_about
		
//- 		+section_schedule

//- 		+section_demo

//- 		+section_showcase

//- 		+section_contact

//- 		+section_faq

//- 	+starting_soon(content)

block scripts
	//- script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyALR3vJM7iMzRxUeVLHIZMWGgc8qB8FLb8')
	//- script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBwfXCRmEHqkM1d_E7GYPOd-a290gnQxrM')
	script(type='text/javascript' src='/__codelab__/site.js')

	include _chat


//- mixin pricing_table
//- 	.sessions
//- 		.pricing-table
//- 			.price
//- 				.title Enrollment Fee
//- 				.cost $125
//- 				.term /mo

//- 			.summary On-site access to CodeLab with provided computers and a Code Coach

//- 			.features

//- 				.item
//- 					.icon.session-icon
//- 					.detail One class session per week

//- 				.item
//- 					.icon.clock-icon
//- 					.detail 60 minute session per class

//- 				.item
//- 					.icon.coach-icon
//- 					.detail On-site Code Coach

//- 				.item
//- 					.icon.tools-icon
//- 					.detail Access CodeLab website from home

//- 				.item
//- 					.icon.share-icon
//- 					.detail Share creations online

//- 		.footnote For additional information, #[a(href='/policies') view the CodeLab policies]



//- mixin class_sessions(type, title, desc, dayOfWeek)
//- 	.class-config(class=type + '-schedule')
//- 		.schedule
//- 			.details
//- 				.day-of-week= dayOfWeek
//- 				.title= title
//- 				.desc= desc
//- 			ul.row
//- 				li.col-md-4.col-sm-4.col-xs-4
//- 					.timeslot-detail
//- 						.time 5:00 PM
//- 						.name Basics
//- 				li.col-md-4.col-sm-4.col-xs-4
//- 					.timeslot-detail
//- 						.time 6:00 PM
//- 						.name Basics
//- 				li.col-md-4.col-sm-4.col-xs-4
//- 					.timeslot-detail
//- 						.time 7:00PM
//- 						.name Advanced

//- mixin class_options
//- 	+class_sessions('web', 'Building Websites', 'Creating web pages using HTML, CSS, and more!', 'Tuesdays')
//- 	+class_sessions('code', 'Computer Programming', 'Learn to write code using popular languages!', 'Thursdays')


//- mixin time_slots
//- 	.time-slots
//- 		.step.first
//- 			.step-icon.icon-calendar
//- 			.about
//- 				.step-title Choose a Day
//- 				.step-action Pick the day of the week that you'd like to visit

//- 		.step
//- 			.step-icon.icon-clock
//- 			.about
//- 				.step-title Choose a Time
//- 				.step-action Find a open time that works best for your schedule

//- 		.step.last
//- 			.step-icon.icon-start
//- 			.about
//- 				.step-title Get Started!
//- 				.step-action Choose a seat and jump right into programming!

//- //- mixin reserve_space
	

//- mixin starting_soon(content)
//- 	.section.starting-soon.container-fluid
//- 		.starting-soon-background
//- 			.row.content
//- 				.col-md-8
//- 					.start-icon
//- 						img(src='/__codelab__/site/images/icon-calendar.png')
//- 					.info Sign up for a free class at our #[span.starting Coppell, Texas] location!

//- 				.col-md-4.action
//- 					a.button(href='#contact-us') Contact Us



//- mixin section_showcase
//- 	a.jump(name='showcase')

//- 	.section.courses.container-fluid.light
//- 		.row.content
//- 			.col-md-5
//- 				.description
//- 					h3 !{content.courses_title}
//- 					p !{content.courses_content}

//- 					//- .action
//- 					//- 	a.button(href='/showcase') View Student Showcase
			
//- 			.course-list.col-md-7
//- 				.container-fluid
//- 					.row
//- 						.course.code.col-md-6
//- 							.details
//- 								.category-icon.code-icon
//- 								.info
//- 									.name Coding
//- 									.about Learn basic programming skills in a variety of languages.

//- 						.course.web.col-md-6
//- 							.details
//- 								.category-icon.web-icon
//- 								.info
//- 									.name Websites
//- 									.about Create public websites using HTML, CSS, and JavaScript.
									
//- 						.course.game.col-md-6
//- 							.details
//- 								.category-icon.game-icon
//- 								.info
//- 									.name Games
//- 									.about Build games for phones, tablets, or desktop computers

//- 						.course.mobile.col-md-6
//- 							.details
//- 								.category-icon.mobile-icon
//- 								.info
//- 									.name Mobile Apps
//- 									.about Make apps that run on iPhone or Android devices



//- mixin section_demo
//- 	a.jump(name='demo')

//- 	.wrapper.tutorials
//- 		.section.tutorials.container-fluid
//- 			.row.content
//- 				.col-md-6

//- 				.details.col-md-6
//- 					.screenshot
//- 						img(src='/__codelab__/site/images/assistant.png')

//- 					.description
//- 						h3 !{content.tutorials_title}
//- 						p !{content.tutorials_content}

//- 						.action
//- 							a.button(href='/demo' target='_demo' rel='nofollow') Try an Example Lesson



//- mixin section_schedule
//- 	a.jump(name='schedule')

//- 	.section.schedule.container-fluid.light
//- 		.row.content
//- 			.col-md-6
//- 				.description
//- 					h3 !{content.schedule_title}
//- 					//- p !{content.schedule_content}

//- 		.row.content
//- 			.col-md-6
//- 				+pricing_table

//- 				.action
//- 					+trial_and_enroll

//- 			.col-md-6.schedule-listing
//- 				+class_options



//- mixin section_contact
//- 	a.jump(name='contact-us')

//- 	.section.location.container-fluid
//- 		#map
//- 		.row.content
//- 			.col-md-6
			
//- 			.form.col-md-6
//- 				.description
//- 					h3 !{content.reserve_title}
//- 					p !{content.reserve_content}

//- 					ul
//- 						li.where
//- 							.icon.map-icon
//- 							.info.address
//- 								.street 275 S Denton Tap Road
//- 								.suite Suite 106
//- 								.csz Coppell, TX 75019
//- 						li.email
//- 							.icon.email-icon
//- 							.info
//- 								a(href='mailto:hello@codelabschool.com') hello@codelabschool.com
//- 						li.phone
//- 							.icon.phone-icon
//- 							.info !{content.phone_number}

//- 					.action
//- 						+trial_and_enroll



//- mixin section_faq
//- 	a.jump(name='faq')

//- 	.section.faq.container-fluid.light
//- 		.row.content
//- 			.col-md-6
//- 				.description
//- 					h3 !{content.faq_title}
//- 					p !{content.faq_content}

//- 					.action
//- 						a.button(href='https://goo.gl/forms/75vK0KcmIDAO2cBV2' rel='nofollow') Ask a Question

//- 			.sessions.col-md-6
//- 				.question-list.container-fluid
//- 					for item, i in content.faq
//- 						.row
//- 							.question(id='question-' + (i+1))
//- 								.title !{item.question}
//- 								.answer !{item.answer}



//- mixin section_about
//- 	a.jump(name='about')

//- 	.section.about.container-fluid
//- 		.concept
//- 		.row.content
//- 			.col-md-5
//- 				//-   img(src='/site/images/concept.jpg')

//- 			.details.col-md-7
//- 				.description
//- 					h3 !{content.about_title}
//- 					p !{content.about_content}

//- 					.action
//- 						+trial_and_enroll

//- 					//- .action
//- 					//- 	a.button(href='/demo' target='_demo') Try a Demo Lesson

//- mixin trial_and_enroll
//- 	a.button(href='https://docs.google.com/forms/d/e/1FAIpQLSfsEnaJ3sbBiAcoTB5JiCXbVioHrpYCmY1ggfVfL1yKI8wI3A/viewform') Request a Trial
//- 	a.button(href='/signup') Enroll for Class