extends _template
include _header

mixin head
	meta(name='description' content='Sign up for CodeLab classes online')
	meta(name='robots' content='index, follow')

mixin info
	section#info
		.container
		
			//- p Select which class you'd like to enroll for. Selecting an #[strong Advanced] class may require an assessment of student skill before finalizing placement.

			h3 Important Things to Know

			#rules
				for item in content.enrollment_notes
					p(class=item.type) !{item.message}


mixin add_session(id, dayOfWeek, name, time, isAvailable)

	.timeslot(id=id data-day=dayOfWeek data-level='Beginner' data-name=name data-time=time class=`${isAvailable ? 'is-available' : 'is-full'}`)

		if !isAvailable
			.full Session Full
		.name= name
		.time= time
	//- .timeslot(class='level-' + session.level.toLowerCase() + (session.available > 0 ? ' is-available' : '') + (session.limited ? ' is-limited' : '') + (session.full ? ' is-full' : '') id=session.id data-day=dayOfWeek data-level=session.level data-name=session.name data-time=session.time)
	//- 	.meta
	//- 		.level= session.level
	//- 		.is-full Session Full
	//- 		.is-limited Space is limited
	//- 	.details
	//- 		.title= name
	//- 		.time= time

mixin timeslots

	section#timeslots
		.container

			h3 Enrollment Form
			p #[strong Are you ready to sign up?] Select the class session you'd like to join then press #[strong Register for Class]
			p.alt Want to try a class first? #[a(href='https://forms.gle/58g5eHGbNv5eA1pE6') Schedule a free trial class]!

			#enrollment
				.date
					h4 Tuesday
					.list
						+add_session('session_tues_1700', 'Tuesday', 'Ages 12 - 19', '5:00PM', true)
						+add_session('session_tues_1800', 'Tuesday', 'Ages 12 - 19', '6:00PM', true)
						+add_session('session_tues_1900', 'Tuesday', 'Adults', '7:00PM', true)
				
				.date
					h4 Thursday
					.list
						+add_session('session_thur_1700', 'Thursday', 'Ages 12 - 19', '5:00PM', true)
						+add_session('session_thur_1800', 'Thursday', 'Ages 12 - 19', '6:00PM', true)
						+add_session('session_thur_1900', 'Thursday', 'Adults', '7:00PM', true)


				.actions
					.button.inactive#enroll-now Register for Class

block title
	| Sign Up / CodeLab

block head
	link(rel='stylesheet' type='text/css' href='/__codelab__/site/index.css')

block content
	.main.content

		+standard_header('Enroll Online', true)
			| Sign up now for CodeLab weekly sessions

	+timeslots
	+info



	include _footer

block scripts
	include _chat
	script(type='text/javascript').
		window.CHARGEBEE_BILLING_TARGET = "#{billingTarget}";
	script(src='https://js.chargebee.com/v2/chargebee.js' data-cb-site=billingTarget)
	script(type='text/javascript' src='/__codelab__/site.js')
	